<h1 class= "h4headline somecolor">Join Us At The Palace.</h1>



<center><iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2481.361506453771!2d-0.014666084942784879!3d51.54326981590195!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x48761d6f0c0dfe91%3A0x9f8a1be15e0d425c!2sQueen+Elizabeth+Olympic+Park!5e0!3m2!1sen!2sus!4v1475694472010" width="800" height="600" frameborder="0" style="border:0" allowfullscreen></iframe></center>