Thank You <%= name %>. How much would you like to deposit today?

<form method = "post" action = "/deposit">
		<input type = "number" min = 0 name = "deposit">
		<input type="text" name = "name" value = <%= name %> hidden>
		<input type = "submit">
</form>



