<h4 class="h4headline">Hello customer! Welcome to The Royal Bank of Scotland Group! Please enter your name.</h4>

<!-- <body background = "https://www.dreamstime.com/royalty-free-stock-photography-bank-building-icon-image24113387"> -->

<form class= "formbox" method = "post" action = "/name">
	<input type = "text" name = "user_name">  
	<input type = "submit">
</form>