Hello customer! Welcome to Dittebank! Please enter your name.

<!-- <body background = "https://www.dreamstime.com/royalty-free-stock-photography-bank-building-icon-image24113387"> -->

<form method = "post" action = "/name">
	<input type = "text" name = "user_name">  
	<input type = "submit">
</form>