<!DOCTYPE html>
<head>
<link rel="stylesheet" href = "css/style.css">

	<title> <%=@title%></title>
</head>
<body>
	<ul>
		<li><a href = "/">HOME</a></li>
		<li><a href = "/contact">Contact</a></li>
		<li><a href = "/rubbish">Rubbish</a></li>
		<li><a href = "/muffin">Sweet Muffins</a></li>
	</ul>
	<%=yield%>
</body>
<footer data-role="footer" data-position="fixed">
<p><a href = "http://www.minedminds.org"target = "_blank">Mined Minds</a><br>&copy; 2016</p>

</footer>